---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="headline">Hi there, I’m Mahesh</h1>
      <p class="sub-headline">
        A full-stack developer based in Gujarat, India. Currently working on a
        <a href="https://github.com/mahesh-143">discord clone.</a> follow the process
        through <a href="blog/">my blog.</a>
      </p>
      <SocialLinks />
      <section class="section">
        <h2>Projects</h2>
        <div class="section--container">
          <ProjectCard />
          <ProjectCard />
          <ProjectCard />
        </div>
      </section>
      <section class="section">
        <h2>Articles</h2>
        <div class="section--container">
          {
            posts.map((post) => (
              <div class="blog_card">
                <a href={`/blog/${post.slug}/`}>
                  <h3 class="blog_card--title">{post.data.title}</h3>
                  <p class="blog_card--date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <p class="blog-card--desc">{post.data.description}</p>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
    <style>
      .sub-headline {
        max-width: 476px;
      }
      .section {
        margin-top: 4em;
      }
      .section--container {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
      }

      @media (max-width: 720px) {
        .section--container {
          flex-direction: column;
          align-items: center;
        }
      }
      .blog_card {
        border: 1px solid rgba(var(--black), 0.2);
        border-radius: 5px;
        padding: 1em;
        width: 246px;
      }
      .blog_card a {
        text-decoration: none;
      }
      .blog-card--desc {
        color: rgb(var(--black));
      }
      .blog_card--date {
        color: rgba(var(--black), 0.7);
        font-size: 0.875em;
      }
    </style>
  </body>
</html>
