---
import { Icon } from "astro-icon/components";
import FormattedDate from "../components/FormattedDate.astro";
const { post } = Astro.props;
---

<a href={`/blog/${post.slug}/`}>
  <div class="blog_card">
    <h3 class="blog_card--title">{post.data.title}</h3>
    <p class="blog_card--date">
      <Icon name="bi:calendar-event" />
      <FormattedDate date={post.data.pubDate} />
    </p>
    <div class="tags">
      {post.data.tags.map((tag: string) => <span class="tag" data-tag={tag}>{tag}</span>)}
    </div>
    <p class="blog-card--desc">{post.data.description}</p>
    <div class="spacer"></div>
  </div>
</a>
<style>
  h3,
  p {
    margin: 0;
  }
  .blog_card {
    border: 1px solid rgba(var(--primary), 0.2);
    border-radius: 5px;
    padding: 1em;
    height: 176px;
    overflow: hidden;
    transition: 0.4s ease;
  }
  .blog_card:hover {
    border-color: var(--accent);
  }
  .tags {
    display: flex;
    gap: 1em;
    margin: 0.5em 0;
  }
  .tag{
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.875em;
    line-height: 16px;
    }
 a {
    text-decoration: none;
  }
  .blog-card--desc {
    color: rgb(var(--primary));
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .blog_card--date {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 0;
    color: rgba(var(--primary), 0.7);
    font-size: 0.875em;
  }
  .spacer {
    height: 0.625em;
  }
</style>
