---
import { Icon } from "astro-icon/components";

const { project } = Astro.props;
---

<div class="project">
  <div>
    <a
      href={`/project/${project.slug}`}
      aria-label=`More info about the project ${project.data.title}`
    >
      <img
        src={project.data.heroImage}
        loading="lazy"
        alt="Project Thumbnail"
      />
    </a>
    <div class="project--info">
      <h3 class="project--title">{project.data.title}</h3>
      <p class="project--desc">
        {project.data.description}
      </p>
    </div>
  </div>
  <div class="button--group">
    <a href={project.data.github}>
      <button class="button button--primary">
        <Icon name="bi:github" />
        <span>Source Code</span>
      </button>
    </a>
    {
      project.data.live && (
        <a href={project.data.live}>
          <button class="button button--secondary">
            <Icon name="bi:play-fill" />
            <span>Live</span>
          </button>
        </a>
      )
    }
  </div>
  <style>
    h3,
    p {
      padding: 0;
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    img {
      transition: transform 0.2s;
      border-bottom: 1px solid rgba(var(--primary), 0.2);
      width: 100%;
      aspect-ratio: 3/2;
    }
    img:hover {
      border-color: var(--accent);
      opacity: 0.5;
    }
    .project {
      border-radius: 5px;
      border: 1px solid rgba(var(--primary), 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width: 635px) {
      .project {
        width: 100%;
      }
    }
    .button--group {
      padding: 1em;
      display: flex;
      gap: 1em;
    }
    .button {
      border: 1px solid rgba(var(--primary), 0.2);
      border-radius: 5px;
      font-weight: 600;
      padding: 1em;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4em;
      color: rgb(var(--primary));
      background-color: rgb(var(--background_color));
      height: 100%;
    }
    .button:hover {
      color: rgb(var(--background_color));
      background-color: rgb(var(--primary));
    }
    .project--info {
      padding: 1em;
    }
    [data-icon] {
      font-size: 1.6em;
      margin-left: -0.1em;
    }
  </style>
</div>
