---
import { Icon } from "astro-icon/components";

const { project } = Astro.props;
---

<div class="project">
  <a href={`/project/${project.slug}`}>
    <img src={project.data.heroImage} />
  </a>
  <div class="project--info">
    <h3 class="project--title">{project.data.title}</h3>
    <p class="project--desc">
      {project.data.description}
    </p>
  </div>
  <div class="button--group">
    <a href={project.data.github}>
      <button class="button button--primary">
        <Icon name="mdi:github" />
        <span>source</span>
      </button>
    </a>
    {
      project.data.live && (
        <a href={project.data.live}>
          <button class="button button--secondary">Live</button>
        </a>
      )
    }
  </div>
</div>
<style>
  h3,
  p {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    transition: transform 0.2s;
    height: 184px;
    border-bottom: 1px solid rgba(var(--black), 0.2);
    max-width: 100%;
  }
  img:hover {
    transform: scale(1.1);
    border: 1px solid rgba(var(--black), 0.2);
  }
  .project {
    border-radius: 5px;
    width: 280px;
    border: 1px solid rgba(var(--black), 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 635px) {
    .project {
      width: 100%;
    }
    img {
      height: auto;
      max-width: 100%;
    }
    img {
      transform: scale(1);
    }
  }
  .button--group {
    padding: 1em;
    display: flex;
    align-items: stretch;
    gap: 1em;
  }
  .button {
    border: 1px solid rgba(var(--black), 0.2);
    border-radius: 5px;
    font-weight: 600;
    padding: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  .button:hover {
    opacity: 0.5;
  }
  .button--primary {
    color: rgb(var(--white));
    background-color: rgb(var(--black));
  }
  .button--secondary {
    color: rgb(var(--black));
    background-color: rgb(var(--white));
  }
  .project--info {
    padding: 1em;
  }
  [data-icon] {
    font-size: 1.5rem;
  }
</style>
