---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        padding-top: 1em;
      }
      .prose {
        width: 928px;
        max-width: calc(100% - 2em);
        margin: auto;
        color: rgb(var(--black));
      }
      .title {
        margin-bottom: 2em;
        padding: 1em 0;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 1em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgba(var(--black), 0.7);
        display: flex;
        align-items: center;
        gap: 0.4em;
      }
      [data-icon] {
        font-size: 1.3em;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class="prose">
        <div class="title">
          <h1>{title}</h1>
          <div class="date">
            <Icon name="mdi:calendar-outline" />
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  <Icon name="mdi:calendar-outline" />
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
        </div>
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
